# White lights using 24V (example: white fcob)

[gcode_macro _USER_VARIABLES]
variable_light_enabled: True
variable_light_pin_name: "caselight"
gcode:

# Also include directly the white lights control macros from here
[include ../../../macros/hardware_functions/caselights.cfg]

[led caselight]
white_pin: LIGHT_OUTPUT
hardware_pwm: false
initial_WHITE: 0.0
cycle_time: 0.01
